<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" />
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link {{#if ShopActive}}active{{/if}}" aria-current="page" href="/">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{#if ProductsActive}}active{{/if}}" href="/products">Products</a>
            </li>        
            <li class="nav-item">
              <a class="nav-link {{#if CartActive}}active{{/if}}" href="/cart">Cart</a>
            </li>
             <li class="nav-item">
              <a class="nav-link {{#if OrdersActive}}active{{/if}}" href="/orders">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{#if AddProductActive}}active{{/if}}" href="/admin/add-product">Add Product</a>
            </li>
             <li class="nav-item">
              <a class="nav-link {{#if AdminProductsActive}}active{{/if}}" href="/admin/products">Admin Product</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

    {{{body}}}

    </div>

  </body>
</html>